.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.dropdown-item:hover {
  background-color: #262626 !important;
}

.dropdown-menu.show {
  background-color: #000000 !important;
}

a {
  color: #808080 !important;
}

a:hover {
  color: #ffffff !important;
}

svg:hover {
  fill: #ffffff !important;
}

.heading-btn {
  border-color: #808080 !important;
}

.item {
  cursor: pointer;
  transition: transform 300ms;
  &:hover {
    transform: scale(1.1);
    z-index: 99;
  }
}

.form-control {
  width: 350px !important;
}
